@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* width: 100%;
  background: url(/assets/Landing_1920.5200.png) no-repeat center;
  background-size: cover; */
}
